# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/01--Printing-Console/FileContentIndex/8c9c98b8-a5fe-40af-a2ab-93dff49d1a90.vsidx
/.vs/01--Printing-Console/FileContentIndex/d99beed8-c52a-4b92-8bfb-03107ec6b558.vsidx
/.vs/01--Printing-Console/FileContentIndex/df35c096-521f-4e04-8f61-05831c945e77.vsidx
/.vs/01--Printing-Console/v17/Browse.VC.db
/.vs/01--Printing-Console/v17/Browse.VC.opendb
